h2, h4{
    color:#00beb0 ;
  }
  
  ul {
    list-style: none;
  }
  
  .info {
    display: flex;
    flex-direction: row;
  }
  
  .Linfo{
    flex: 4;
    border: 1px solid black;
    margin: 2px;
  }
  
  .Finfo {
    flex: 6;
    border: 1px solid black;
    margin: 2px;
  }
  
  .Sinfo{
    flex: 9;
  }
  .logo {
    flex: 1;
    padding: 15px;
  }
  body {
    padding: 30px;
    background-color: #D9D9D9;
    text-align: start;
  }


  .pl-table{
    border-collapse: collapse;
  }


  .pl-table .row {
    border: solid;
    border-width: 1px 1px;
    margin:2px 0;
    padding: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            text-align: start;

  }

  
  .pl-table .col {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .pl-table .pl-thead {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin: 15px 0;
  }
  .pl-table .pl-thead {
    background-color: #00beb0;
  }
  

  .pl-table .pl-tbody .row {
    background-color: #ffffff;
    color: black;
    font-size: 15px;
  }
  
  .pl-table .pl-tbody.scroll {
    max-height: 100px;
    overflow-x: scroll;
  }

  
  .total {
    background-color: #00beb0;
    color: white;
    font-weight: bold;
  }